discord.py
python-dotenv>=1.0.0
requests
aiogram>=3.0.0
vkpymusic
mutagen>=1.47.0
httpx
aiohttp>=3.8.5
yt-dlp>=2023.7.6
ffmpeg-python
shazamio
PyLyrics
lyricwikia
musicxmatch-api
lyricsgenius
chartlyrics
yandex-music
asyncio>=3.4.3
aiolimiter>=1.1.0
asyncpg>=0.28.0